<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <title>Maintenance</title>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png')}}" type="image/png"/>
    </head>
    <body class="clouds">
        <h1>🌦️ Weather Info</h1>
        <div class="weather">
            <h2>Maintenance</h2>
            <p>This site is currently under maintenance.<br>
                We apologise for any inconvienience.<br>
                The site will be live again shortly.
            </p>
            <ul>
                <li>Start date: 16th June 2025</li>
                <li>Expected end date: 17th June 2025*</li>
            </ul>
            <img src="https://openweathermap.org/img/wn/04d@2x.png" alt="Weather icon">
        </div>
        <footer>
            <p>weather-info.ddns.net</p>
            <p class="disclaimer">*This date is estimated and subject to change.</p>
        </footer>
    </body>
</html>